<!DOCTYPE html>
<html>
    <head>
        <title>Fashionworld</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Josefin+Sans:wght@300&family=Oswald:wght@500&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body style="background-color:white">
        <!-- font-family: 'Inconsolata', monospace;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Oswald', sans-serif; -->
        <!-- font-family: 'Lora', serif; -->
        <div class="a1">
            <a href="../index.html"  style="text-decoration: none; color: white;">HOME</a>&nbsp;
            <a href="mens.html"   style="text-decoration: none; color: white;">MENS</a>&nbsp;
            <a href="women.html"  style="text-decoration: none; color: white;">WOMEN</a>&nbsp;
            <a href="kids.html"   style="text-decoration: none; color: white;">KIDS</a>&nbsp;
            <a href="signin.html" style="text-decoration: none; color: white;">SIGNIN</a>
        </div>
        <div>
            <div class="about">
                <div class="aboutpara">
                    <h1>THANKYOU FOR YOUR SUPPORT</h1>
                    <p class="s1"> It is what keeps our buisiness going.</p>
                    <p class="s1"> You have our endless gratitude.</p>
                    <p class="s1">REACH US:</p>
                    <ul>
                        <li>www.fashionworld.com</li>
                    </ul>
                </div>
                <div class="i1">
                        <img src="../IMAGES/3.jpg" alt="no" width="500px" height="300px" style="border-radius: 20px;">
                </div>
            </div>
        </div>
    </body>
</html> 