<!DOCTYPE html>
<html>
    <head>
        <title>Fashionworld</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body style="background-color:white;">
        <!-- font-family: 'Arvo', serif;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Chakra Petch', sans-serif; -->
        <div class="a2">
            <a href="../index.html" style="text-decoration: none; color: white;">HOME</a>&nbsp;
             <a href="mens.html"    style="text-decoration: none; color: white;">MENS</a>&nbsp;
             <a href="women.html"   style="text-decoration: none; color: white;">WOMEN</a>&nbsp;
             <a href="about.html"   style="text-decoration: none; color: white;">ABOUT US</a>
        </div>
          <div style="display: flex;">
            <div class="img1">
                <img src="../IMAGES/KIDS/1.jpg" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
            </div>
            <div class="product1">
                <h1>COMBO</h1> 
                <h2>Rs.899/-</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, consectetur. Deleniti odio ab assumenda error eligendi alias corporis architecto voluptatibus facere veritatis. Optio qui provident rem quos cum ex fugit?</p>
            </div>
        </div>
        <div style="display: flex;">
            <div class="img2">
                <img src="../IMAGES/KIDS/2.jpg" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
                </div>
                <div class="kids1">
                <h1>SKIRTS</h1> 
                <h2>Rs.699/-</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, consectetur. Deleniti odio ab assumenda error eligendi alias corporis architecto voluptatibus facere veritatis. Optio qui provident rem quos cum ex fugit?</p>
        </div>
        </div>
        <div style="display: flex;">
        <div class="img1">
            <img src="../IMAGES/KIDS/3.jpg" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
        </div>
        <div class="women1">
            <h1>FROCKS</h1> 
                <h2>Rs.399/-</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, consectetur. Deleniti odio ab assumenda error eligendi alias corporis architecto voluptatibus facere veritatis. Optio qui provident rem quos cum ex fugit?</p>
            </div>
        </div>
     </body>
 </html>
    
