<!DOCTYPE html>
<html>
    <head>
        <title>Fashionworld</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Chakra+Petch:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body style="background-color:white;">
        <!-- font-family: 'Arvo', serif;
        font-family: 'Bebas Neue', sans-serif;
        font-family: 'Chakra Petch', sans-serif; -->
        <div class="a2">
            <a href="../index.html" style="text-decoration: none; color: white;">HOME</a>&nbsp;
             <a href="women.html"   style="text-decoration: none; color: white;">WOMEN</a>&nbsp;
             <a href="kids.html"    style="text-decoration: none; color: white;">KIDS</a>&nbsp;
             <a href="about.html"   style="text-decoration: none; color: white;">ABOUT US</a>
        </div>
          <div style="display: flex;">
            <div class="img1">
                <img src="../IMAGES/MENS/1.jpg" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
            </div>
            <div class="product1">
                <h1>T-SHIRTS</h1> 
                <h2>Rs.899/-</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, consectetur. Deleniti odio ab assumenda error eligendi alias corporis architecto voluptatibus facere veritatis. Optio qui provident rem quos cum ex fugit?</p>
            </div>
        </div>
        <div style="display: flex;">
            <div class="product1">
                <h1>EXECUTIVE SUIT</h1>
                <h2>Starting from Rs.900/-</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi repudiandae unde nihil et? Assumenda dicta cumque doloremque aut mollitia blanditiis vel, et illum quae, voluptatem atque iure fugiat nam rerum.</p>
            </div>
            <div class="img2">
                <img src="../IMAGES/MENS/2.jpg" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
                </div>  
        </div>
        <div style="display: flex;">
        <div class="img1">
            <img src="../IMAGES/MENS/3.webp" alt="image not available" width="300px" height="300px" style="border-radius: 20px;">
        </div>
        <div style="display: flex;">
            <div class="product1">
                <h1>HOODIES</h1>
                <h2>Rs.799/-</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi repudiandae unde nihil et? Assumenda dicta cumque doloremque aut mollitia blanditiis vel, et illum quae, voluptatem atque iure fugiat nam rerum.</p>
            </div>
        </div>
     </body>
 </html>
    
