<!DOCTYPE html>
<html>
    <head>
        <title>Fashionworld</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <div class="signup">
        <div class="t1">
        <table  align="center" >
            <form action="">
                <tr>
                    <td>FirstName</td>
                    <td><input type="text" id="FirstName"></td>
                </tr><br>
                <tr>
                    <td>LastName</td>
                    <td><input type="text" id="LastName"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td><input type="text" id="Username"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" id="Email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" id="Password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" id="Confirm Password"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="radio" id="Male" value="Male"><label for="Male">Male</label> <input type="radio" id="Female" value="Female"><label for="Female">Female</label></td>
                </tr>
                <tr>
                    <td>DOB</td>
                    <td><input type="date" id="DOB"></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><textarea name="Address" id="Address"></textarea></td>
                </tr><br>
                <tr>
                    <td>District</td>
                    <td><select name="District" id="District">
                    <option value="Alappuzha">Alappuzha</option>
                    <option value="Ernakulam">Ernakulam</option>
                    <option value="Kozhikode">Kozhikode</option>
                    <option value="Palakkad">Palakkad</option>
                    <option value="Kollam">Kollam</option>
                    <option value="Kannur">Kannur</option>
                    <option value="Kasargod">Kasargod</option>
                    <option value="Idukki">Idukki</option>
                    <option value="Kottayam">Kottayam</option>
                    <option value="Thrissur">Thrissur</option>
                    <option value="Pathanamthitta">Pathanamthitta</option>
                    <option value="Malappuram">Malappuram</option>
                    <option value="Wayanad">Wayanad</option>
                    <option value="Thiruvanathupuram">Thiruvanathupuram</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Account Type</td>
                    <td><input type="checkbox" id="Normal" value="Normal"><label for="Normal">Normal</label><input type="checkbox" id="Premium" value="Premium"><label for="Premium">Premium</label></td>
                </tr>
                
                <tr class="submit" style="text-align: center;">
                    <td colspan="2">
                    <button type="button"><a href="signin.html"  style="text-decoration: none;">SUBMIT</a></button>
                    </td>
                </tr>
            </form>
        </table>
        </div>
        </div>
    </body>
</html>