<!DOCTYPE html>
<html>
    <head>
        <title>Fashionworld</title>
        <link rel="stylesheet" href="../CSS/style.css">
    </head>
    <body>
        <div class="signinimage">
        <div class="t2">
            <div align="center">
                <form action="">
                <input type="text" placeholder="Username"> <br>
                <input type="password" name="password"  id="password" placeholder="Password"> <br>
                  <p><a href="signup.html" style="text-decoration: none;">CLICK HERE</a>&nbsp; for register</p>
                  <button type="submit"><a href="../index.html" style="text-decoration: none ;">LOGIN</a></button><br>
                </form>
                </div>
                </div>
            </div>
    </body>
</html>